<div class="container">
    <div class="effect-1">
        <img src="assets/img/effect-1.svg" title="" alt="">
    </div>
    <div class="effect-2">
        <img src="assets/img/effect-2.svg" title="" alt="">
    </div>
    <div class="row align-items-center justify-content-center gy-5">
        <div class="col-lg-6 col-xl-5">
            <div class="about-banner text-center">
                <img src="assets/img/fotoMia2.jpg" title="" alt="" style="opacity: 0.9;">
            </div>
        </div>
        <div class="col-lg-6 col-xl-5 px-lg-5">
            <div class="about-text">
                <div class="section-heading">
                    <h6><span>ACERCA DE MI</span></h6>
                    <h2>Simpre disponible para <span>Desarrollar </span>Aplicaciones</h2>
                </div>
                <p>Hola, soy Eduardo Ávila Torruco, un desarrollador apasionado con un sueño claro: dejar una marca significativa en el mundo a través de la tecnología. Cada línea de código que escribo es un paso más hacia mi misión de crear aplicaciones que transformen realidades y mejoren vidas. Mi proyecto no es solo un trabajo, es mi compromiso personal de innovar y generar impacto.</p>
                <!-- <div class="review-box">
                    <div class="r-box">
                        <h3>280<span>+</span></h3>
                        <label>Google Review </label>
                    </div>
                    <div class="r-box">
                        <h3>15<span>+</span></h3>
                        <label>Years Experience</label>
                    </div>
                    <div class="r-box">
                        <h3>49<span>+</span></h3>
                        <label>Awward Winning</label>
                    </div>
                </div> -->
                <div class="btn-bar">
                    <a class="px-btn" href="javascript:" (click)="scrollDown()"><span>Hablemos</span> <i class="bi-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>