<div class="container">
    <div class="section-heading">
        <h6><span>Experiencia</span></h6>
        <h2>Mi <span>Experiencia</span> Laboral</h2>
    </div>
    <div class="row gy-3">
        <div class="col-12">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>Full-Stack Developer</h4>
                            <span>Volkswagen | Presencial</span>
                            <p>Mar-2023 - 2024</p>
                            <label>Medio Tiempo</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>Acerca de la compañia</h5>
                            <p class="m-0">En Volkswagen como Desarrollador Web Jr., formo parte del equipo responsable del sistema de contabilidad que gestiona los procesos administrativos de todas las sucursales en la ciudad. Participé en la migración de un sistema basado en Citrix a una plataforma más moderna. He liderado varios proyectos importantes, incluyendo el desarrollo de una barra de navegación intuitiva, la implementación de tablas dinámicas usando DevExtreme, la creación de APIs para optimizar el acceso a la información y el desarrollo de documentos PDF personalizados utilizando la librería JsPDF.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>Front-end Developer</h4>
                            <span>StackCode | Hibrido</span>
                            <p>Apr-2024 - Oct-2024</p>
                            <label>Medio Tiempo</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>Acerca de la compañia</h5>
                            <p class="m-0">En StackCode me desempeño como Desarrollador Front-End donde lidero el desarrollo de Learnify, una plataforma de venta de cursos en línea usando Angular. Implementé la integración de pagos con Openpay de BBVA y configuré Vimeo para la visualización de contenido de video. Utilizo NVM para gestionar diferentes versiones de Node.js en distintos proyectos y trabajo bajo metodología Scrum, participando activamente en sprints y reuniones diarias</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>Application Support Engineer</h4>
                            <span>Softtek | Remote</span>
                            <p>Oct-2024 - Present</p>
                            <label>Medio Tiempo</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>Acerca de la compañia</h5>
                            <p class="m-0">Durante mi experiencia en Softtek, una empresa de tecnología, he tenido la oportunidad de participar en proyectos de transformación digital, adquiriendo conocimientos sólidos en la automatización de procesos empresariales mediante Power Automate, la creación de flujos de trabajo y el desarrollo de aplicaciones personalizadas con Power Apps en el entorno de Microsoft. Además, he complementado mi experiencia práctica con formación especializada en Microsoft Azure, lo que me ha permitido fortalecer mis habilidades en soluciones en la nube y contribuir a la optimización de procesos a través del uso estratégico de herramientas tecnológicas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>