<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="hs-text-box">
                <h6><span>Eduardo Avila</span></h6>
                <h1>Hola! Soy Eduardo y</h1>
                <h2>Soy <span class="typed-element"></span></h2>
                <p class="text">Mi misión es generar proyectos que tengan un impacto significativo en la sociedad. No aspiro simplemente a tener éxito, sino a transformar la forma en que las personas interactúan con el mundo a través de la innovación. Mi compromiso es crear soluciones accesibles, sostenibles y llenas de posibilidades que mejoren la vida de las personas.</p>
                <div class="btn-bar d-flex align-items-sm-center flex-column flex-sm-row" style="margin-bottom: 1rem;">
                    <a class="px-btn" href="javascript:" (click)="scrollDown()"><span>Hablemos</span> <i class="bi-arrow-right"></i> </a>
                    <div class="social-icon ps-sm-4 pt-4 pt-sm-0 d-flex justify-content-center justify-content-sm-start">
                        <a class="instagram dribbble" href="javascript:"><i class="fab fa-instagram"></i></a>
                        <a class="github" href="https://github.com/Scurvybelt" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="linkedin m-0" href="https://www.linkedin.com/in/eduardoavilatorruco/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-6">
            <div class="hs-banner">
                <img src="assets/img/home-banner.png" title="" alt="">
            </div>
        </div> -->
    </div>
</div>